.toto {
  text-align: right;
  margin-right: 50em;
  top: 6px;
  right: 70%;
}

.text {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding: 20px;
}
