.create-account {
  width: 50em;
  position: absolute;
  top: 65%;
  left: 50%;
  padding: 0.5em;
  transform: translate(-50%, -50%);
  border-radius: 1em !important;
  background: #3b438b;
}

.input-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.create-account form {
  font-family: Arial, sans-serif;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}
.nom,
.prnom,
.Mdp,
.Cmdp,
.addres,
.tele {
  background: #f1efea;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.nom,
.prnom {
  display: block;
  margin-bottom: 10px;
}

.submit-button {
  background: #fbc02c;
  color: #3b438b;
  padding: 10px 20px;
  font-weight: bold;
  margin-top: 20px;
  right: 30%;
}
.pop {
  position: absolute;
  top: 50%;
  right: 30%;
  padding: 70%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #3b438b;
  color: #fbc02c;
  border: 2px solid #000000;
  box-shadow: 5px;
  padding: 50px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  border-radius: 50px;
}
