.create-account {
  width: 50em;
  position: absolute;
  top: 65%;
  left: 50%;
  padding: 0.5em;
  transform: translate(-50%, -50%);
  border-radius: 1em !important;
  background: #3b438b;
}

.input-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 20px;
}
.create-account form {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
  max-width: 20em;
  margin: auto;
}
.inputD {
  background: white;
}
.inputE {
  background: white;
  flex-flow: row wrap;
}
.inputDA,
.inputD {
  border-radius: 5px;
  border: 1px solid #fbc02c;
}
.inputDA {
  background: white;
  width: 100px;
  height: 30%;
}

.submit-button {
  background: #fbc02c;
  color: #3b438b;
  padding: 10px 20px;
  font-weight: bold;
  margin-top: 20px;
  align-items: flex-end;
}
